@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');

.App {
  text-align: center;
  font-family: 'Mulish', sans-serif;
}

.App input {
  height: 30px;
}
.App input[type=submit] {
  height: 36px;
  width: 70px;
}

.App form {
  height: 120px;
}

.App .result {
  color: red;
  font-size: 25px;
}